<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Investigacion Operativa</title>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav class="nav">
        <button class="btn-secondary">Documentacion</button>
        {% block header %}{% endblock %}
    </nav>
    <main>
        {% block contenido %}{% endblock %}
    </main>
    <footer>
        <small>Terreno Monla, Florencia Sofia</small>
    </footer>
</body>

</html>